#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 400px;
  & .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100px;
    font-size: x-large;
    font-weight: bold;
    &:hover {
      cursor: pointer;
      background-color: rgba(242, 242, 242, 0.8);
    }
  }
}
.boardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
